<!doctype html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page.title }}</title>
        <meta content="{{ page.meta_description }}" name="description">
        <meta content="{{ page.meta_keywords }}" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta content="telephone=no" name="format-detection">
        <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="/static/css/mainnwvxn.css?40" rel="stylesheet" type="text/css">
        <!--<![endif]-->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

        <meta property="og:title" content="{{ page.meta_title }}" />
        <meta property="og:url" content="https://mubinovmovies.uz/" />
        <meta property="og:description" content="{{ page.meta_description }}" />
        <meta property="og:image" content="{{ page.meta_image }}" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="960" />
        <meta property="og:image:height" content="540" />
        <link rel="image_src" href="{{ page.meta_image }}" />

        <link rel="icon" type="image/x-icon" href="/favicon.png">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
        
        <script src="//code-ya.jivosite.com/widget/xsHoUIDOuY" async></script>

    </head>

    <body>

        <div class="header">
            <div class="container-fluid">

                <div class="row align-items-center">
                    <div class="col-md-3 col-auto mr-auto">
                        <div class="logo">
                            <img src="/static/img/general/logo-white.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block">
                        <nav class="menu">
                            <ul class="nav justify-content-center">
                                <li>
                                    <a href="#call" class="nav-link scroll-link">Связаться</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#portfolio" class="nav-link scroll-link">Портфолио</a>
                                </li>
                                <li>
                                    <a href="#clients" class="nav-link scroll-link">Клиенты</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-auto">
                        <div class="phone text-right">
                            <a href="{{ page.tg_link }}"><i class="icon-social icon-telegram mr-2"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="intro">
            <div class="intro-content d-flex align-items-center">
                <div class="w-100">
                    <div class="container-fluid">
                        <div class="intro-title d-md-flex align-items-center justify-content-center">
                            <div>{{ page.intro_header_left }}</div>
                            <div class="intro-title-slider" id="introTitleSlider">{{ page.objectives | first }}</div>
                            <div>{{ page.intro_header_right }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <video id="introVideo" width="100%" poster="/static/img/general/video-poster.jpg" preload="auto" autoplay="true" muted webkit-playsinline playsinline loop="true">

                <source src="/static/img/general/videocover.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                <source src="/static/img/general/videocover.webm" type='video/webm; codecs="vp8, vorbis"'>
                <!-- <source src="video/duel.ogv" type='video/ogg; codecs="theora, vorbis"'> -->
            </video>
        </div>

        <div class="services d-flex align-items-center">
            <div class="w-100">
                <div class="container">
                    <div class="h2 text-center">
                        {{ page.main_title }}
                    </div>
                    <div class="services-title h5 text-center">
                        {{ page.main_sub_title }}
                    </div>

                    <div class="services-text">
                        <div class="row text-center">
                            <div class="col-lg-6 mb-4">
                                {% for service in page.services_left %}
                                    {{ service }}<br>
                                {% endfor %}
                            </div>
                            <div class="col-lg-6">
                                {% for service in page.services_right %}
                                    {{ service }}<br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider d-flex">
            <span class="slide-prev"></span>
            <span class="slide-next"></span>
            
            {% assign slides = site.slides | sort: 'position' %}
            {% for slide in slides %}
                <div class="slider-item w-100 slider-item{{ forloop.index }} {% if forloop.first %}active{% endif %}">
                    <style>
                        .slider-item{{ forloop.index }} {
                            background-image: url('{{ slide.image }}');
                        }

                        @media(max-width: 767.98px) {
                            .slider-item{{ forloop.index }} {
                                background-image: url('{{ slide.image_mobile }}');
                            }
                        }
                    </style>
                    <div class="content">
                        <div class="h3">
                            {{ slide.title }}
                        </div>
                        <div class="text">
                            {{ slide.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="call" id="call">
            <div class="container">
                <div class="call-title h2 text-center">
                    {{ page.contact_title }}
                </div>
                <div class="call-form">

                    <div class="alert alert-success" role="alert" id="formresult" style="display: none;">

                    </div>

                    <form action="/leadcontact.php" id="leadform">
                        <div class="d-lg-flex justify-content-center">
                            <div class="call-item">
                                <input class="call-item-name form-control form-control-lg" type="text" name="name" placeholder="имя">
                            </div>
                            <div class="call-item">
                                <input class="call-item-company form-control form-control-lg" type="text" name="company" placeholder="компания">
                            </div>
                            <div class="call-item">
                                <input class="call-item-phone form-control form-control-lg" type="text" name="phone" placeholder="телефон или Telegram ID">
                            </div>
                            <div class="call-item text-center">
                                <button class="btn btn-danger btn-lg">отправить</button>
                            </div>
                            <input type="hidden" name="success_msg" value="{{ page.form_success_msg }}">
                        </div>
                    </form>
                </div>

                <div class="call-text">
                    {{ page.contact_description }}
                </div>

                <div class="call-text call-link">
                    <a href="{{ page.tg_link }}">Написать в Telegram</a>
                </div>
            </div>
        </div>

        <div class="videos" id="portfolio">
            <div class="container">
                <div class="videos-intro">
                    <iframe src="{{ page.showreel_url }}" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>

                <div class="videos-title h2 text-center">
                    {{ page.works_title }}
                </div>

                {% for category in site.categories %}
                    {% assign category_object = category[0] %}

                    <div class="videos-section">
                        <div class="h3 text-center">
                            {{ category_object }}
                        </div>
                        <div class="row">
                            {% for post in site.categories[category_object] %}
                                <div class="col-lg-6">
                                    <div class="video-box">
                                        <div class="video-poster">
                                            <a data-fancybox data-ratio="2" href="{{ post.vimeo_link }}">
                                                <img src="{{ post.image }}" alt="">
                                            </a>
                                        </div>
                                        <div class="video-info">
                                            <div class="video-title">
                                                <a data-fancybox data-ratio="2" href="{{ post.vimeo_link }}">
                                                    {{ post.title }}
                                                </a>
                                            </div>
                                            {% if post.content %}
                                            <div class="video-content">
                                                {{ post.content }}
                                            </div>
                                            {% endif %}
                                            {% if post.case_link %}
                                                <div class="video-about-link">
                                                    <a href="{{ post.case_link }}">{{ post.case_title|default:"о проекте" }}</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="logos" id="clients">
            <div class="container">
                <div class="h2 logos-title text-center">
                    {{ page.clients_title }}
                </div>
                <div class="row align-items-center">
                    {% assign clients = site.clients | sort: 'position' %}
                    {% for client in clients %}
                        <div class="col-lg-3">
                            <div class="logo-item">
                                {% if client.link %}<a href="{{ client.link }}" rel="nofollow">{% endif %}
                                <img src="{{ client.image }}" alt="{{ client.title }}">
                                {% if client.link %}</a>{% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container-fluid">
                <div class="footer-phone">
                    <a href="tel:{{ page.phone }}">{{ page.phone }}</a>
                </div>
                <div class="footer-tel">
                    (calls / telegram / whatsapp)
                </div>

                <div class="footer-email">
                    <a href="mailto:{{ page.email }}">{{ page.email }}</a>
                </div>

                <div class="footer-col">
                    <ul class="social-links">
                        <li><a href="{{ page.vimeo_link }}" class="icon-social icon-vimeo"></a></li>
                        <li><a href="{{ page.youtube_link }}" class="icon-social icon-youtube"></a></li>
                        <li><a href="{{ page.instagram_link }}" class="icon-social icon-instagram"></a></li>
                        <li><a href="{{ page.tg_link }}" class="icon-social icon-telegram"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            var Summaries = new Array();
            {% for objective in page.objectives %}
                Summaries.push("{{ objective }}");
            {% endfor %}
        </script>
        <script src="/static/js/mainnwvxn.js?3"></script>
        <script>
            document.getElementById('leadform').onsubmit = function (event) {
                var data = {
                    name: document.querySelectorAll('input[name=name]')[0].value,
                    company: document.querySelectorAll('input[name=company]')[0].value,
                    phone: document.querySelectorAll('input[name=phone]')[0].value,
                    success_msg: document.querySelectorAll('input[name=success_msg]')[0].value
                };
                var formBody = Object.entries(data).map(([key, value]) => encodeURIComponent(key) + '=' + encodeURIComponent(value)).join('&');
                fetch(this.getAttribute('action'), {
                    method: 'POST',
                    cache: 'no-cache',
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: formBody
                }).then(function(response) {
                    return response.json();
                }).then(function (data) {
                    console.log(data);
                    var formResult = document.getElementById('formresult');
                    formResult.innerHTML = data['body'];
                    formResult.style.display = 'block';
                });

                event.preventDefault();
            };
        </script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(67099066, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/67099066" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>

</html>
